/* Grid Demo */

	.grid-demo {
		display: block;
		margin: 0 0 2em 0;
	}

		.grid-demo span {
			background: #8d93a0;
			border-radius: 4px;
			color: rgba(0, 0, 0, 0.25);
			display: block;
			font-weight: 700;
			height: 2.75em;
			line-height: 2.75em;
			text-align: center;
		}

		.grid-demo .row.flush > div span {
			border-radius: 0;
		}

		.grid-demo .row.flush > div:first-child span {
			border-radius: 4px 0 0 4px;
		}

		.grid-demo .row.flush > div:last-child span {
			border-radius: 0 4px 4px 0;
		}

/*Validation messages*/

.validation-message {
      display:none;
      padding: 15px;
          color: #d73814;
          border-color: #d73814;
          border-left: 6px solid #d73814;
          margin-bottom: 10px;
          -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
             -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
                  box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);

 }

.validation-above {
    padding: 15px;
    color: #d73814;
}

 .validation-above>strong {
     color: #d73814;
 }

 .validation-message>strong {
     color: #d73814;
 }

 .validation-message-s>strong {
     color: #d73814;
 }

/*Avatar*/
.image-circle {
    border-radius: 50%;
    width: 175px;
    height: 175px;
    border: 4px solid #FFF;
    margin: 10px;
}

/*Error page*/
.testimonial{
    margin-bottom: 10px;
}
.testimonial.testimonial-danger{

}
.testimonial.testimonial-danger .testimonial-section{
    border-color: #D9534F;
    color: #c9302c;
    background-color: rgba(217, 83, 79, 0.1);
}

.testimonial.testimonial-danger .testimonial-section:after{
    border-top-color: #D9534F;
}

.testimonial.testimonial-danger .testimonial-desc{

}

.testimonial.testimonial-danger .testimonial-desc img{
    border-color: #D9534F;
}

.testimonial.testimonial-danger .testimonial-writer-name{
    color: #D9534F;
}
.testimonial-section {
    width: 100%;
    height: auto;
    padding: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    border: 1px solid #fff;
}
.testimonial-section:after {
    top: 100%;
    left: 50px;
    border: solid transparent;
    content: " ";
    position: absolute;
    border-top-color: #fff;
    border-width: 15px;
    margin-left: -15px;
}
.testimonial-desc {
    margin-top: 20px;
    text-align:left;
    padding-left: 15px;
}
.testimonial-desc img {
    border: 1px solid #f5f5f5;
    border-radius: 150px;
    height: 70px;
    padding: 3px;
    width: 70px;
    display:inline-block;
    vertical-align: top;
}
.testimonial-writer{
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
}

.testimonial-writer-name{
    font-weight: bold;
}
.testimonial-writer-designation{
    font-size: 85%;
}

/* Store list menu*/
/* Methods */
.method .header, .method .cell {
    padding: 6px 6px 6px 10px; }
.method .list-header .header {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1.3em;
    color: #999;
    background-color: #eee; }
.method [class^="row"],
.method [class*=" row"] {
    border-bottom: 1px solid #ddd; }
.method [class^="row"]:hover,
.method [class*=" row"]:hover {
    background-color: #f7f7f7; }
.method .cell {
    font-size: 1.3em; }
.method .cell .mobile-isrequired {
    display: none;
    font-weight: normal;
    text-transform: uppercase;
    color: #aaa;
    font-size: 0.8em; }
.method .cell .propertyname {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
.method .cell .type {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
.method .cell code {
    color: #428bca; }
.method .cell a, .method .cell a:hover {
    text-decoration: none; }
.method .cell code.custom {
    color: #8a6d3b;
    text-decoration: none; }
.method .cell .text-muted {
    color: #ddd; }
@media (max-width: 991px) {
    .method [class^="row"],
    .method [class*=" row"] {
        padding-top: 10px;
        padding-bottom: 10px; }
    .method .cell {
        padding: 0 10px; }
    .method .cell .propertyname {
        font-weight: bold;
        font-size: 1.2em; }
    .method .cell .propertyname .lookuplink {
        font-weight: normal;
        font-size: 1.5em;
        position: absolute;
        top: 0;
        right: 10px; }
    .method .cell .type {
        padding-left: 10px;
        font-size: 1.1em; }
    .method .cell .isrequired {
        padding-left: 10px;
        display: none; }
    .method .cell .description {
        padding-left: 10px; }
    .method .cell .mobile-isrequired {
        display: inline; } }


/* Row Utilities */
[class^='row'].margin-0,
[class*=' row'].margin-0,
[class^='form-group'].margin-0,
[class*=' form-group'].margin-0 {
    margin-left: -0px;
    margin-right: -0px; }
[class^='row'].margin-0 > [class^='col-'],
[class^='row'].margin-0 > [class*=' col-'],
[class*=' row'].margin-0 > [class^='col-'],
[class*=' row'].margin-0 > [class*=' col-'],
[class^='form-group'].margin-0 > [class^='col-'],
[class^='form-group'].margin-0 > [class*=' col-'],
[class*=' form-group'].margin-0 > [class^='col-'],
[class*=' form-group'].margin-0 > [class*=' col-'] {
    padding-right: 0px;
    padding-left: 0px; }
[class^='row'].margin-0 [class^='row'],
[class^='row'].margin-0 [class*=' row'],
[class^='row'].margin-0 [class^='form-group'],
[class^='row'].margin-0 [class*=' form-group'],
[class*=' row'].margin-0 [class^='row'],
[class*=' row'].margin-0 [class*=' row'],
[class*=' row'].margin-0 [class^='form-group'],
[class*=' row'].margin-0 [class*=' form-group'],
[class^='form-group'].margin-0 [class^='row'],
[class^='form-group'].margin-0 [class*=' row'],
[class^='form-group'].margin-0 [class^='form-group'],
[class^='form-group'].margin-0 [class*=' form-group'],
[class*=' form-group'].margin-0 [class^='row'],
[class*=' form-group'].margin-0 [class*=' row'],
[class*=' form-group'].margin-0 [class^='form-group'],
[class*=' form-group'].margin-0 [class*=' form-group'] {
    margin-left: 0;
    margin-right: 0; }

.mail-box {
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    table-layout: fixed;
    width: 100%;
}
.mail-box aside {
    display: table-cell;
    float: none;
    height: 100%;
    padding: 0;
    vertical-align: top;
}
.mail-box .sm-side {
    background: none repeat scroll 0 0 #e5e8ef;
    border-radius: 4px 0 0 4px;
    width: 25%;
}
.mail-box .lg-side {
    background: none repeat scroll 0 0 #fff;
    border-radius: 0 4px 4px 0;
    width: 75%;
}
.mail-box .sm-side .user-head {
    background: none repeat scroll 0 0 #00a8b3;
    border-radius: 4px 0 0;
    color: #fff;
    min-height: 80px;
    padding: 10px;
}
.user-head .user-name {
    display: inline-block;
    margin: 0 0 0 10px;
}
.user-head .user-name h5 {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 15px;
}
.user-head .user-name h5 a {
    color: #fff;
}
.user-head .user-name span a {
    color: #87e2e7;
    font-size: 12px;
}
.inbox-body {
    padding: 20px;
}
.btn-compose {
    background: none repeat scroll 0 0 #ff6c60;
    color: #fff;
    padding: 12px 0;
    text-align: center;
    width: 100%;
}
.btn-compose:hover {
     background: none repeat scroll 0 0 #f5675c;
     color: #fff;
 }
.btn-compose-info {
    background: none repeat scroll 0 0 #5bc0de;
    color: #fff;
    padding: 12px 0;
    text-align: center;
    width: 100%;
}
.btn-compose-info:hover {
    background: none repeat scroll 0 0 #31b0d5;
    color: #fff;
}
.btn-compose-success {
    background: none repeat scroll 0 0 #7ab800;
    color: #fff;
    padding: 12px 0;
    text-align: center;
    width: 100%;
}.btn-compose-warning {
    background: none repeat scroll 0 0 #ff9f1a;
    color: #fff;
    padding: 12px 0;
    text-align: center;
    width: 100%;
}
.btn-compose-success:hover {
    background: none repeat scroll 0 0 #449d44;
    color: #fff;
}
.btn-compose-warning:hover {
    background: none repeat scroll 0 0 #ffe11b;
    color: #fff;
}
ul.inbox-nav {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
}
.inbox-divider {
    border-bottom: 1px solid #d5d8df;
}
ul.inbox-nav li {
    display: inline-block;
    line-height: 45px;
    width: 100%;
}
ul.inbox-nav li a {
    color: #6a6a6a;
    display: inline-block;
    line-height: 45px;
    padding: 0 20px;
    width: 100%;
}
ul.inbox-nav li a:hover, ul.inbox-nav li.active a, ul.inbox-nav li a:focus {
    background: none repeat scroll 0 0 #d5d7de;
    color: #6a6a6a;
}
ul.inbox-nav li a i {
    color: #6a6a6a;
    font-size: 16px;
    padding-right: 10px;
}
ul.inbox-nav li a span.label {
    margin-top: 13px;
}
ul.labels-info li h4 {
    color: #5c5c5e;
    font-size: 13px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    text-transform: uppercase;
}
ul.labels-info li {
    margin: 0;
}
ul.labels-info li a {
    border-radius: 0;
    color: #6a6a6a;
}
ul.labels-info li a:hover, ul.labels-info li a:focus {
    background: none repeat scroll 0 0 #d5d7de;
    color: #6a6a6a;
}
ul.labels-info li a i {
    padding-right: 10px;
}
.nav.nav-pills.nav-stacked.labels-info p {
    color: #9d9f9e;
    font-size: 11px;
    margin-bottom: 0;
    padding: 0 22px;
}
.inbox-head {
    background: none repeat scroll 0 0 #41cac0;
    border-radius: 0 4px 0 0;
    color: #fff;
    min-height: 80px;
    padding: 20px;
}
.inbox-head h3 {
    display: inline-block;
    font-weight: 300;
    margin: 0;
    padding-top: 6px;
}
.inbox-head .sr-input {
    border: medium none;
    border-radius: 4px 0 0 4px;
    box-shadow: none;
    color: #8a8a8a;
    float: left;
    height: 40px;
    padding: 0 10px;
}
.inbox-head .sr-btn {
    background: none repeat scroll 0 0 #00a6b2;
    border: medium none;
    border-radius: 0 4px 4px 0;
    color: #fff;
    height: 40px;
    padding: 0 20px;
}
.table-inbox {
    border: 1px solid #d3d3d3;
    margin-bottom: 0;
}
.table-inbox tr td {
    padding: 12px !important;
}
.table-inbox tr td:hover {
    cursor: pointer;
}
.table-inbox tr td .fa-star.inbox-started, .table-inbox tr td .fa-star:hover {
    color: #f78a09;
}
.table-inbox tr td .fa-star {
    color: #d5d5d5;
}
.table-inbox tr.unread td {
    background: none repeat scroll 0 0 #f7f7f7;
    font-weight: 600;
}
ul.inbox-pagination {
    float: right;
}
ul.inbox-pagination li {
    float: left;
}
.mail-option {
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
}
.mail-option .chk-all, .mail-option .btn-group {
    margin-right: 5px;
}
.mail-option .chk-all, .mail-option .btn-group a.btn {
    background: none repeat scroll 0 0 #fcfcfc;
    border: 1px solid #e7e7e7;
    border-radius: 3px !important;
    color: #afafaf;
    display: inline-block;
    padding: 5px 10px;
}
.mail-option .chk-all input[type="checkbox"] {
    margin-top: 0;
}
.mail-option .btn-group a.all {
    border: medium none;
    padding: 0;
}
.inbox-pagination li span {
    display: inline-block;
    margin-right: 5px;
    margin-top: 7px;
}
.fileinput-button {
    background: none repeat scroll 0 0 #eeeeee;
    border: 1px solid #e6e6e6;
}
.inbox-body .modal .modal-body input, .inbox-body .modal .modal-body textarea {
    border: 1px solid #e6e6e6;
    box-shadow: none;
}
.btn-send, .btn-send:hover {
    background: none repeat scroll 0 0 #00a8b3;
    color: #fff;
}
.btn-send:hover {
    background: none repeat scroll 0 0 #009da7;
}
.modal-header h4.modal-title {
    font-family: "Open Sans",sans-serif;
    font-weight: 300;
}
.modal-body label {
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
}
.heading-inbox h4 {
    border-bottom: 1px solid #ddd;
    color: #444;
    font-size: 18px;
    margin-top: 20px;
    padding-bottom: 10px;
}
.sender-info {
    margin-bottom: 20px;
}
.sender-info img {
    height: 30px;
    width: 30px;
}
.sender-dropdown {
    background: none repeat scroll 0 0 #eaeaea;
    color: #777;
    font-size: 10px;
    padding: 0 3px;
}
.view-mail a {
    color: #ff6c60;
}
.attachment-mail {
    margin-top: 30px;
}
.attachment-mail ul {
    display: inline-block;
    margin-bottom: 30px;
    width: 100%;
}
.attachment-mail ul li {
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 150px;
}
.attachment-mail ul li img {
    width: 100%;
}
.attachment-mail ul li span {
    float: right;
}
.attachment-mail .file-name {
    float: left;
}
.attachment-mail .links {
    display: inline-block;
    width: 100%;
}

.fileinput-button {
    float: left;
    margin-right: 4px;
    overflow: hidden;
    position: relative;
}
.fileinput-button input {
    cursor: pointer;
    direction: ltr;
    font-size: 23px;
    margin: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-300px, 0px) scale(4);
}
.fileupload-buttonbar .btn, .fileupload-buttonbar .toggle {
    margin-bottom: 5px;
}
.files .progress {
    width: 200px;
}
.fileupload-processing .fileupload-loading {
    display: block;
}
* html .fileinput-button {
    line-height: 24px;
    margin: 1px -3px 0 0;
}
* + html .fileinput-button {
    margin: 1px 0 0;
    padding: 2px 15px;
}
@media (max-width: 767px) {
    .files .btn span {
        display: none;
    }
    .files .preview * {
        width: 40px;
    }
    .files .name * {
        display: inline-block;
        width: 80px;
        word-wrap: break-word;
    }
    .files .progress {
        width: 20px;
    }
    .files .delete {
        width: 60px;
    }
}
ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

/* Pagination */
.pagination>li>a, .pagination>li>span { border-radius: 50% !important;margin: 0 5px;}

/*For disabled links*/
a.disabled {
    pointer-events: none;
    cursor: default;
}